Django==1.4.5 # can't upgrade to 1.5 until django-registration supports it
dj-database-url==0.2.1
psycopg2==2.4.5
wsgiref==0.1.2
django-registration
ipython==0.13
readline
django-extensions
south
git+https://github.com/sealgair/djanrain.git