{% extends "game/game.html" %}
{% block title %}Manage Your Games{% endblock %}
{% block extrahead %}
    <style type="text/css">
        #dashboard-wrapper {
            margin: 1em;
            padding: 2em 2em;
            display: block;
            width: 100%;
            text-align: center;
        }
        #dashboard-content {
            border: 2px solid #006400;
            padding: 2em;
            display: inline-block;
            margin: 0 auto;
        }
        table {
            padding-bottom: 2em;
            margin: 0 auto;
        }
        th {
            text-align: center;
            padding: 10px;
        }
        td {
            text-align: right;
            padding: 5px;
            width: auto;
        }
        td a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: black;
        }
        .friend {
            color: #fafad2;
            background-color: #008800;
            margin: 1em;
            padding: .25em .5em;
        }
        #new-game {
            border: 2px solid #006400;
            background-color: #eee8aa;
            margin-bottom: 1em;
            overflow: hidden;
        }
        ul.friends-picker {
            background-color: #eee8aa;
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 12em;
            overflow: auto;
        }
        td.other-players {
            border-bottom: 1px solid black;
            text-align: center;
        }
        .other-players .playing-with {
            font-size: smaller;
            color: #aaa;
        }
        .other-players .player-list {
        }

        #game-sidebar {
            float: left;
            padding: 0.5em;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
        }
    </style>
{% endblock %}
{% block content %}
{% if player_games %}
<div id="game-sidebar">
    <h3>Your current games:</h3>
    <table><tr><th>Score</th><th>Your Turn?</th></tr>
    {% for player in player_games %}
        <tr>
            <td>
                <a href="{% url 'game.views.game' game_id=player.game.id %}">
                {%  if game.score > 0 %}{{ game.score }}{% else %}0{% endif %}</a>
            </td>
            <td>
                <a href="{% url 'game.views.game' game_id=player.game_id %}">
                    {% if player.turn_order == player.game.current_turn %}Yes!{% else %}
                    No.{% endif %}
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="other-players">
                <a href="{% url 'game.views.game' game_id=player.game_id %}">
                <div class="playing-with">Playing With</div>
                <div class="player-list">
                    {{ player.render_other_players }}
                </div>
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>{% else %}
    <h3>No Current Games!</h3><br/><br/>{% endif %}
</div>
<div id="dashboard-wrapper"><span id="dashboard-content">
    <h2>Create a New Game!</h2>
    {% if friends %}
        <form method="post" action=""> {% csrf_token %}
            <ul id="new-game" class="friends-picker"></ul>
            <input type=submit value="Ready!"/>
        </form>

        <h3>Your Friends</h3>
        <ul id="friends-list" class="friends-picker">
            {% for friend in friends %}
            <li class="friend">
                {{ friend.username }}
                <input type="hidden" name="player_ids" value="{{ friend.id }}"/>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <img src="http://i3.kym-cdn.com/entries/icons/original/000/003/619/Untitled-1.jpg"/>
    {% endif %}
    </span>
    {% endblock %}

    {% block extrabody %}
    {{ block.super }}
    <script>
        $('.friends-picker').sortable({connectWith: ".friends-picker", revert: 100});
    </script>
    {% endblock %}
</div>