{% extends "game/game.html" %}
{% block title %}Manage Your Games{% endblock %}
{% block extrahead %}
    <style type="text/css">
        #dashboard-wrapper {
            margin: 1em;
            padding: 2em 2em;
            display: block;
            width: 100%;
            text-align: center;
        }
        #dashboard-content {
            border: 2px solid #006400;
            padding: 2em;
            display: inline-block;
            margin: 0 auto;
        }
        .game-title {
            margin-bottom: 0;
        }
        ul.game-data {
            font-size: smaller;
            margin-top: 0;
        }
        .friend {
            color: #fafad2;
            background-color: #008800;
            margin: 1em;
            padding: .25em .5em;
        }
        #new-game {
            border: 2px solid #006400;
            background-color: #eee8aa;
            margin-bottom: 1em;
            overflow: hidden;
        }
        ul.friends-picker {
            background-color: #eee8aa;
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 12em;
            overflow: auto;
        }
        td.other-players {
            border-bottom: 1px solid black;
            text-align: center;
        }
        .other-players .playing-with {
            font-size: smaller;
            color: #aaa;
        }
        .other-players .player-list {
        }

        #game-sidebar {
            float: left;
            padding: 0.5em;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
        }
    </style>
{% endblock %}
{% block content %}
{% if player_games %}
<div id="game-sidebar">
    <h3>Your current games:</h3>
    {% for player in player_games %}
    <h3 class="game-title">
    <a href="{% url game.views.game game_id=player.game.id %}">
        Game {{ player.game.id }}
    </a></h3>
    <ul class="game-data">
        <li>
            Score: {% if player.game.score > 0 %}{{ player.game.score }}{% else %}0{% endif %}
        </li>
        <li>
            It is {% if player.turn_order != player.game.current_turn %}not{% endif %} your turn.
        </li>
        <li>
            This game was started {{ player.game.date_started|timesince }} ago
        </li>
        <li>
            The latest haiku was played {{ player.game.last_played|timesince }} ago
        </li>
        <li>
            You are playing with {{ player.render_other_players }}
        </li>
    </ul>
    {% endfor %}
    </table>{% else %}
    <h3>No Current Games!</h3><br/><br/>{% endif %}
</div>
<div id="dashboard-wrapper"><span id="dashboard-content">
    <h2>Create a New Game!</h2>
    {% if friends %}
        <form method="post" action=""> {% csrf_token %}
            <ul id="new-game" class="friends-picker"></ul>
            <input type=submit value="Ready!"/>
        </form>

        <h3>Your Friends</h3>
        <ul id="friends-list" class="friends-picker">
            {% for friend in friends %}
            <li class="friend">
                {{ friend.username }}
                <input type="hidden" name="player_ids" value="{{ friend.id }}"/>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <img src="http://i3.kym-cdn.com/entries/icons/original/000/003/619/Untitled-1.jpg"/>
    {% endif %}
    </span>
    {% endblock %}

    {% block extrabody %}
    {{ block.super }}
    <script>
        $('.friends-picker').sortable({connectWith: ".friends-picker", revert: 100});
    </script>
    {% endblock %}
</div>