{% extends "game/game.html" %}

{% block extrahead %}
{{ block.super }}
<style>
    .phrase {
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 1em / 2em;
        color: #5E1717;
        background-color: rgba(0, 0, 0, 0.215686);
        margin: 1em;
        padding: .25em .5em;
    }

    .phrase.syllable-7 {

    }
    #haiku {
        border-radius: 2em;
        border: 2px solid #5E1717;
        background-color: rgba(0, 0, 0, 0.08);
        height: 9em;
        margin-bottom: 1em;
        overflow: hidden;
    }
    ul.phraseholder {
        border-radius: 1em;
        background-color: rgba(0, 0, 0, 0.215686);
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 17em;
        overflow: auto;
    }
</style>
{% endblock %}


{% block game_content %}
<h2>Build Your Haiku</h2>
<form method="post" action=""> {% csrf_token %}
    <ul id="haiku" class="phraseholder"></ul>
    <input type=submit value="Ready!"/>
</form>

<table>
<tr>
<td><ul id="hand-5"class="phraseholder">
    {% for phrase in syllable_5 %}
    <li class="phrase syllable-5">
        {{ phrase }}
        <input type="hidden" value="{{ phrase.id }}"/>
    </li>
    {% endfor %}
</ul></td>
<td><ul id="hand-7"class="phraseholder">
    {% for phrase in syllable_7 %}
    <li class="phrase syllable-7">
        {{ phrase }}
        <input type="hidden" value="{{ phrase.id }}"/>
    </li>
    {% endfor %}
</ul></td>
</tr>
</table>

{% if player.has_next %}
<form method="post" action="{% url 'game.views.play_random' game_id=game.id %}">
    {% csrf_token %}
    <input type=submit value="Play Random" alt="I don't like my choices"/>
</form>
{% endif %}
{% endblock %}

{% block extrabody %}
{{ block.super }}
<script>
    function sortHaiku() {
        if ($("#haiku").find(".phrase").length == 3) {
            //there's a chance the 7 isn't in the middle
            var syl7 = $("#haiku").find(".phrase.syllable-7");
            var syl5 = $("#haiku").find(".phrase.syllable-5");
            var newOrder = [syl5[0], syl7[0], syl5[1]];

            $("#haiku").find(".phrase").replaceWith($(newOrder).clone());
        }

        //set form name correctly
        $("#haiku").find(".phrase input").each(function(i, input) {
            var nm = "phrase"+(i+1);
            $(input).attr("name", nm);
        });
    }

    $('#haiku, .phraseholder').sortable({connectWith: ".phraseholder", revert: 100});
    $('#haiku').bind("sortreceive", function(event, ui) {
        var count;
        var sylClass;
        var phrase = $(event.srcElement);
        if (phrase.hasClass("syllable-7")) {
            sylClass = ".syllable-7";
            count = 1;
        } else {
            sylClass = ".syllable-5";
            count = 2;
        }
        if ($(this).find(sylClass).length > count) {
            $(ui.sender).sortable('cancel');
        }
        sortHaiku();
    });
    $('#haiku').bind("sortstop", sortHaiku);
</script>
{% endblock %}